<hr style="height:2px;border-width:0;color:lightslategray;">

<div class="div col-xs-12 col-12 col-md-12">
    <h4>Button Samples</h4>
    <p>Samples for different buttons using Ngx-Bootstrap which basically provides Bootstrap components and features but powered by Angular instead of use JQuery.</p>
</div>

<div class="div col-xs-12 col-12 col-md-4 form-group mb3">

    
    <button type="button" 
            class="btn btn-primary col-12"
            tooltip="Tooltip sample for Primary button type.">
            Primary
    </button>

    <p></p>

    <button type="button" 
            class="btn btn-secondary col-12"
            tooltip="Tooltip sample for Secondary button type.">
            Secondary
    </button>

    <p></p>
    
    <button type="button" 
            class="btn btn-success col-12"
            tooltip="Tooltip sample for Success button type.">
            Success
    </button>

    <p></p>
    
    <button type="button" 
            class="btn btn-danger col-12"
            tooltip="Tooltip sample for Danger button type.">
            Danger
    </button>

    <p></p>
    
    <button type="button" 
            class="btn btn-warning col-12"
            tooltip="Tooltip sample for Warning button type.">
            Warning
    </button>

    <p></p>
    
    <button type="button" 
            class="btn btn-info col-12"
            tooltip="Tooltip sample for Info button type.">
            Info
    </button>

    <p></p>
    
    <button type="button" 
            class="btn btn-dark col-12"
            tooltip="Tooltip sample for Dark button type.">
            Dark
    </button>

    <p></p>
    
    <button type="button" 
            class="btn btn-light col-12"
            tooltip="Tooltip sample for Light button type.">
            Light
    </button>
    
</div>