<hr style="height:2px;border-width:0;color:lightslategray;">

<div class="div col-xs-12 col-12 col-md-12">
    <h4>Date Picker Samples</h4>
    <p>Samples for date picker using Ngx-Bootstrap which basically provides Bootstrap components and features but powered by Angular instead of use JQuery.</p>
</div>

<div class="col-xs-12 col-12 col-md-4 form-group mb-3">
  <input type="text"
         placeholder="Datepicker"
         class="form-control"
         bsDatepicker>
</div>

<div class="col-xs-12 col-12 col-md-4 form-group mb-3">
  <input type="text"
         placeholder="Daterangepicker"
         class="form-control"
         bsDaterangepicker>
</div>